@use 'utilities' as *

header
  min-height: calc(100vh - 94px)
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(200, 0, 0, 0.3)), url(/images/bn.jpeg)
  background-position: center
  background-size: cover
  background-attachment: fixed
  background-repeat: no-repeat
  position: relative

  .row_header__bn
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    margin-right: -15px
    margin-left: -15px
    min-height: calc(100vh - 94px)

    .header__banner
      text-align: center
      max-width: 100%
      flex-basis: 0px
      flex-grow: 1

      h1
        margin-inline: auto
        line-height: 1.2
        font-family: $font_main
        font-size: 6rem
        font-weight: 300

        border-top: 4px solid $yellow
        border-bottom: 4px solid $white
        animation: toTheRight
        animation-duration: 4s
        animation-fill-mode: forwards

        small
          color: $white
          font-family: $font_main

        strong
          color: $yellow_darken
          font-family: $font_main

@keyframes toTheRight
  0%
    transform: translateX(-100px)
    opacity: 0
  50%
    transform: translateX(30px)
  100%
    transform: translateX(0)
    opacity: 1

.button__order
  display: inline-block
  font-weight: 400
  line-height: 1.5
  text-decoration: none
  text-transform: capitalize
  padding: 0.375rem 0.75rem
  margin-block: 0.5rem
  color: $white
  background: $brown_darken
  border-radius: 15px
  font-size: 2rem
  border: 2px solid $yellow_darken
  transition: all 0.5s ease-in-out
  animation: toTheLeft
  animation-duration: 4s
  animation-fill-mode: forwards

  &:hover
    color: $red_darken
    border: 2px solid $red_light
    background: $yellow_darken

@keyframes toTheLeft
  0%
    transform: translateX(100px)
    opacity: 0
  50%
    transform: translateX(-30px)
  100%
    transform: translateX(0)
    opacity: 1

.button__forward
  display: inline-flex
  justify-content: center
  align-items: center
  padding: 0.50rem
  position: absolute
  bottom: 5%
  left: 50%
  color: $brown_darken
  background: $orange_lighting
  border-radius: 10px
  transition: all 0.5s ease
  animation: toTheDown
  animation-duration: 5s
  animation-iteration-count: infinite

  &:hover
    color: $brown_darken
    background: $yellow

@keyframes toTheDown
  0%
    transform: translateY(-10px)
  50%
    transform: translateY(10px)
  100%
    transform: translateY(-10px)
