// Variables Colors
$red_darken: #7E1819
$red_light: #731819
$red: #d82822
$brown_darken: #391005
$brown_lighting: #ae986F
$orange_light: #9F492F
$orange_lighting: #ffae58
$orange_darken: #c94118
$yellow: #f0db00
$yellow_darken: #f1c70a
$white: #f4f1cb
$black: #242424

// VARIABLES FOR FONTS
$font_main: var(--font-lobster)
$font_text: var(--font-open-sans)
