@use '../../sass/utilities' as *

.button__default
  display: inline-flex
  padding: 0.5rem 1rem
  background: $brown_darken
  color: $yellow_darken
  border-radius: .35rem
  border: 2px solid $red_darken
  font-size: 23px
  transition: all 1s ease
  text-transform: capitalize

  &:hover
    color: $brown_darken
    border: 2px solid $red_darken
    background: $yellow_darken
    transform: rotate(5deg)
