// Variables Colors
$red_darken: #7E1819
$red_light: #731819
$red: #d82822
$brown_darken: #391005
$brown_lighting: #ae986F
$orange_light: #9F492F
$orange_lighting: #ffae58
$orange_darken: #c94118
$yellow: #f0db00
$yellow_darken: #f1c70a
$white: #f4f1cb
$black: #242424

// VARIABLES FOR FONTS
$font_main: var(--font-lobster)
$font_text: var(--font-open-sans)

// IMPORTS Styles Landing Page
// @import '_body'
// @import '_navigation'
// @import '_header__banner'
// @import '_menu__nav_bar'
// @import '_menu_card'
// @import '_about'
// @import '_team_card_box'
// @import '_testimonials'
// @import '_contact_me'
// @import '_footer'
// @import '_modal'

html
  overflow-X: hidden

body
  font-family: $font_text

*
  padding: 0
  margin: 0
  box-sizing: border-box

  ::-webkit-scrollbar
    width: 8px

  ::-webkit-scrollbar-track
    width: 6px
    background: $white

  ::-webkit-scrollbar-thumb
    background: $brown_lighting
    border-radius: 24px

    &:hover
      background: #718096
