@use '../../sass/utilities' as *

$input-radius: 0.65rem

.form__card
  background: rgba(0,0,0, 0.4)
  transition: all 2s ease
  border-radius: 20px
  padding: 20px
  text-align: center

  &:hover
    background: rgba(84, 33, 37, 0.4)

  .card__heading
    color: $white
    font-family: $font_main
    text-transform: uppercase
    margin-bottom: 1rem

  .body__card
    display: flex
    flex-direction: column
    align-items: center
    gap: 0.5rem

  .input-group
    display: flex
    width: 100%
    border: 1px solid $brown_darken
    border-radius: $input-radius

    &-icon
      display: flex
      align-items: center
      justify-content: center
      padding: 0.7rem
      background: $brown_darken
      color: $yellow_darken
      border-right: 1px solid $brown_darken
      border-top-left-radius: $input-radius
      border-bottom-left-radius: $input-radius

    input
      width: 100%
      border: none
      outline: none
      background-color: $white
      color: $brown_darken
      border-top-right-radius: $input-radius
      border-bottom-right-radius: $input-radius
      padding-left: 0.7rem
      font-family: $font_text
      font-size: 1rem

      &::placeholder
        color: $brown_lighting
        font-family: $font_text
        font-style: italic
        font-size: 1rem
        letter-spacing: 0.05em

    textarea
      width: 100%
      border: 1px solid $brown_darken
      border-radius: $input-radius
      padding: 0.7rem
      background-color: $white
      color: $brown_darken
      outline: none
      font-family: $font_text
      font-size: 1rem

      &::placeholder
        color: $brown_lighting
        font-family: $font_text
        font-style: italic
        font-size: 1rem
        letter-spacing: 0.05em

  .contact__btn
    display: inline-flex
    align-items: center
    gap: 0.5rem
    padding: 0.4rem 1rem
    border-radius: 0.35rem
    color: $yellow_darken
    background: $brown_darken
    border: 2px solid $yellow_darken
    font-weight: bold
    transition: all 0.5s ease-in-out
    font-family: $font_text
    font-size: 1rem
    text-transform: uppercase
    letter-spacing: 0.05em

    &:hover
      background: $yellow_darken
      border-color: $brown_darken
      color: $brown_darken
