@use '../../sass/utilities' as *

.footer__wrapper
  width: 100%
  margin-inline: auto
  padding: 0.5rem
  background-color: $brown_darken
  display: flex
  align-items: center
  justify-content: space-between

  &_icons
    padding: 0.5rem
    display: flex
    gap: 0.5rem

    i
      color: $orange_lighting
      transition: color 0.3s ease-in-out
      cursor: pointer

      &:hover
        color: $orange_darken

  .footer__copyright
    padding: 0.5rem
    text-transform: uppercase

    a
      text-decoration: none
      font-family: $font_main
      font-size: 1.3rem
      color: $white
      transition: all 4s ease

      &:hover
        text-decoration: none
        color: $yellow_darken

  #back_to_top
    color: $orange_light
    display: inline-block
    transition: .5s ease

    &:hover
      color: $yellow_darken
      text-decoration: none

  .scrollTop
    position: fixed
    bottom: 10px
    right: 10px
